# Python Intro Day 2
## Data Types and Structures

What is a data type?

From Wikipedia Article https://en.wikipedia.org/wiki/Data_type

    a data type or simply type is a classification of data which tells the compiler 
    or interpreter how the programmer intends to use the data.

Basically, we care about data types because they are the basic ways to interact with data.

In Python there are many important data types, but we will cover the following:

1. **Booleans** : True or False.
2. **Numbers** : integers (1 and 2), floats (1.1 and 1.2), etc.
3. **Strings** : sequences of characters, e.g. Text
4. **Lists** : ordered sequences of values
5. **Tuples** : ordered, immutable sequences of values.
6. **Sets** : unordered bags of values.
7. **Dictionaries** : unordered bags of key-value pairs.

1-3 are data types and 4-7 are structures.


#### Static vs. Dynamic

Static typing needs an explicit declaration while dynamic typing does not. Python is dynamically typed, which means types are implicit, so the programmer i.e. YOU need to make sure you are doing something sensible.

For example, in another popular typed language Java, to make a new integer initialised with the value `5`, you would type.

    int myval = 5;
    
whereas in python, you would write

    myval = 5
    
this leads to subtle and sometimes *dangerous* problems where systems can crash, hang, or expect something that will never happen. so make sure you know what kind of data you are using in python. (`type()` is your friend)

#### Lazy Evaluation and Operations

Python uses what is called [Lazy Evaluation](https://en.wikipedia.org/wiki/Lazy_evaluation) when operating on data. It basically means that data is not manipulated until absolutely needed.

This is important to mention since it helps us realise that different operations use different *operators* such as addition (+) or subtraction (-) and operate differently. Some data types cannot use certain operators as they are not defined, such as subtraction on strings.

#### Mutability

Objects or data that are mutable can be changed, while immutable data cannot be modified once created.

Most data types in Python are Mutable, but there are certain cases for having one type over another, which is up to you!

### Booleans

Booleans represent truth values. They are usually used for logic in programming and their basic operations are just like what you may have seen in Formal logic, or First-Order Logic. 

A quick review of a truth table will show use the basic idea of their usage:

![Truth table](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND,_OR,_and_NOT.png)

The basic operators are just what you would expect: `and, or, not, ==` (equivalency)

So let's assign truth values to variables and test them out to see how they work.

In [ ]:
A = False
B = True

A and B

In [ ]:
A or B

In [ ]:
A and A # False and False

In [ ]:
B and B # True and True

In [ ]:
not A

As you can see they operate just like we would expect, and they can be changed and used in more complex ways too.

In [ ]:
new_A = not A # new A is True
new_A or B

In [ ]:
C = (A or B) and (not new_A or not B) # (True and False)
C

In [ ]:
C == A # check to see if both A and C are false

### Numbers

Numbers are any numerical data, which are usually represented by integers (natural numbers, +/-) and floats (real numbers).

They can be used just like any other value, manipulated with mathematical operators: +, -, *, /

In [2]:
my_number = 15
my_number * 10

150

In [4]:
my_number / 4 # floating point division

3.75

In [5]:
my_number // 4 # integer division

3

In [7]:
10**2 # exponential, power of 2

100

In [8]:
my_number * 3.14

47.1

In [9]:
(13123.00012 / my_number)**2 + my_number

765406.6984423111

Additional operators for numbers can return booleans, such as checking if values are greater than, or less than. equivalency operations for each exist as well for each: <, >, <=, >=, ==

Here are some numeric examples with boolean operators:

In [10]:
1 > 55

False

In [11]:
15 > 15

False

In [12]:
15 >= 15

True

In [13]:
10 < 100

True

In [14]:
10 <= 100

True

In [15]:
12.34 == 12.34

True

### Lists

Lists are an ordered list of data. They can be the same data types or different data types.

We can create them by using the square brackets `[]` or `list()`.

We can manipulate them with the operators: +, *

We can also retrieve items from lists using indexes.

We can also change the values in the lists if we would like, get sub-lists, items or the like.

In [19]:
my_list = [1,2,50,7]
my_list

[1, 2, 50, 7]

In [20]:
my_list = list([1,2,50,7])
my_list

[1, 2, 50, 7]

In [40]:
my_list = [1,2,50,7,50,51,52]
my_list + [11,1,1,1,1,1,2,12,13,14] # add lists together

[1, 2, 50, 7, 50, 51, 52, 11, 1, 1, 1, 1, 1, 2, 12, 13, 14]

In [29]:
[10,11] * 3.01 # multiply list and add

TypeError: can't multiply sequence by non-int of type 'float'

In [30]:
my_list[1] + 20 # add value 20 to 2nd item

22

In [31]:
my_list[1] = my_list[1] + 20
my_list

[1, 22, 50, 7]

In [41]:
my_list[::2]

[1, 50, 50, 52]

In [49]:
my_list[-3] # negative indexing means start from the end

50

In [50]:
lv = my_list[-1] # last value in my list
my_list[0:3] = [lv,lv,lv]
my_list

[52, 52, 52, 7, 50, 51, 52]

In [57]:
mixed_list = [1,17.32, "hello"]
mixed_list

[1, 17.32, 'hello']

In [58]:
mixed_list[1] + 12.5

29.82

In [60]:
mixed_list[2] + " there"
mixed_list

[1, 17.32, 'hello']

In [61]:
mixed_list = [mixed_list[2], "how", "are", "you", "?"]
mixed_list

['hello', 'how', 'are', 'you', '?']

### Strings

Strings are used for holding an array of characters, e.g. text.

We can create them by using single or double quotes

We can manipulate text using the operators: +, *

There are many, many more things that we can do with text which we will cover later.

In [62]:
s = "Here is a long string to do stuff with."
s

'Here is a long string to do stuff with.'

In [63]:
# concatenate strings
new_s = s + " I will just add more do it."
new_s

'Here is a long string to do stuff with. I will just add more do it.'

We can also use indexing on strings to get a specific character we want, or sub-string we want with a range.

Indexing uses integers to represent discrete values in a list or string starting from zero for the 1st item.

In [64]:
new_s[0]

'H'

In [65]:
# get 1-10 chars, concatenate to new string, show multiple of exclamation
new_s[0:10] + "sub-string added to a new string" + "!" * 10

'Here is a sub-string added to a new string!!!!!!!!!!'

### Tuples

Tuples can be used similarly to lists, but they are *immutable*. Once created they cannot be modified. 

This means manipulation or data can occur but modification will fail.

To create them using `tuple()` or `()`

a good basic rule of thumb is that if you are storing more than 3 items in a tuple, you may want to use a list or another object or data type such as a list.

In [76]:
t = (10,20)
t

(10, 20)

In [67]:
t = tuple([10,20])
t

(10, 20)

In [81]:
#t = t + (5,7)
t[0:2]

(10, 20)

In [82]:
t[0]

10

In [83]:
t[1]

20

In [84]:
t = ("walk", "V")
t

('walk', 'V')

Another way to declare a tuple, is just by using commas without using (). Python represents items with commas (,) as a `tuple` by default

In [5]:
t = 1,2,3
t

(1, 2, 3)

### Sets

Sets are a kind or grab-bag of items in no particular order. They are great for holding values for quick lookup.

We create them by using the `set()` built-in.

The work similar to the idea of sets in set theory https://en.wikipedia.org/wiki/Set_theory

Therefore the operations are related to that domain: intersection (&), difference (-), union (|), subset (<=), superset (>=).

In [91]:
A = set((3,3,3,1,2,3,2,3))
A

{1, 2, 3}

In [92]:
B = set([5,4,10,1234,3,1,1,1])
B

{1, 3, 4, 5, 10, 1234}

In [93]:
A & B

{1, 3}

In [94]:
A | B

{1, 2, 3, 4, 5, 10, 1234}

In [95]:
C = A & B
C <= B

True

In [96]:
B >= A

False

In [97]:
(A | B) >= B

True

In [98]:
word_set = set(["a", "random", "bag", "of", "words"])
word_set

{'a', 'bag', 'of', 'random', 'words'}

In [99]:
new_word_set = set(["a", "random", "bag"])
new_word_set <= word_set

True

We can also use some boolean operations to check for data in a set such as the `in` operator

In [100]:
"a" in new_word_set

True

In [101]:
"the" not in new_word_set

True

### Dictionaries

Dictionaries are what you would expect, a data type that holds key, value pairs for quick lookup, just like a dictionary.

They are created with the `dict()` function or the curly braces `{}`

In [8]:
my_dict = {}
my_dict

{}

In [9]:
my_dict = dict()
my_dict

{}

To set a value, use a key with the equals operator (=).

To retrieve the value, use the key in the dictionary with square braces, similar to indexing with lists

In [10]:
my_dict["key1"] = 10 # set key1 to the value 10
my_dict["key2"] = 20 # set key2 to the value 20

my_dict["key1"] # retrieve the value at key1

10

If the key does not exist, no value can be returned and an error will be thrown

In [11]:
my_dict["key1234"]

KeyError: 'key1234'

but we can always assign new values with a new key

In [12]:
my_dict["key1234"] = 30
my_dict

{'key1': 10, 'key1234': 30, 'key2': 20}

You can manipulate the values in the dictionary

In [13]:
my_dict["key1234"] = my_dict["key1234"] + 50
my_dict

{'key1': 10, 'key1234': 80, 'key2': 20}

Keys do not have to be strings, they can be other values too

In [14]:
my_dict[555] = 818181818
my_dict

{555: 818181818, 'key1234': 80, 'key1': 10, 'key2': 20}

In [15]:
((my_dict[555] / 2) - 409090000.0)/3

303.0

In [16]:
my_dict["key1"] / 2

5.0

We can use the `in` operator just like in sets, but it only tests for keys, not values

In [17]:
"key1" in my_dict

True

In [18]:
555 not in my_dict

False

In [19]:
80 in my_dict # not a key, so False, even though it is a value

False

If keys need to be used multiple times, it is better to store them in a variable.

In [24]:
my_key = "my key is this string!"
my_dict[my_key] = "the best"
my_key in my_dict

True

## Type conversions

Sometimes we will want to convert from one type to another. Most of the time this can be done by calling `dict, list, set` or others to convert types for us.

Let's say we have a list but want a set:

In [116]:
alist = [1,5,1,20,11,25] # this is a list
aset = set(alist) # now it is a set
aset

{1, 5, 11, 20, 25}

In [117]:
tuple(alist) # bad idea, too many items, but possible

(1, 5, 1, 20, 11, 25)

In [118]:
dict(alist) # cant do this, just values, no keys

TypeError: cannot convert dictionary update sequence element #0 to a sequence

If we use a list of tuples, using `dict()` will implicitly consider them `key:value` pairs

In [119]:
words = [("a","DET"),("dog","NOUN"),("barks","VERB")]
words

[('a', 'DET'), ('dog', 'NOUN'), ('barks', 'VERB')]

In [120]:
dict(words) # words are keys and categories are values

{'a': 'DET', 'barks': 'VERB', 'dog': 'NOUN'}

## Lecture assignment

1. set a variable x, compute value of x^2 + x^3
2. make a tuple of a person's name and phone number
3. make a list of 3 tuples of friend's names and phone numbers
4. make a dictionary of contacts with three friends phone numbers
5. make a set of three of your favourite colours
6. make a set of three of your classmates favourite colours
7. take the intersection and disjunction of both sets
8. make three bool variables and set them. hungry, tired, happy
9. create a variable named "status" which uses at least one (and / or) and save status